.checkout_ad {
    width: 655px;
    height: 196px;
    margin-bottom: 10px;
}

.checkout {
    display: flex;
    padding: 20px;
    gap: 10px;
    background-color: whitesmoke;
    height: max-content;
    width: 100%;
}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}